<h1>Editing user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>
  <p>
      <%= f.label :facebook_id %>
      <%= f.text_field :facebook_id %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', user_path %>