<h2>Editing user</h2>

<script type="text/javascript" charset="utf-8">
    function changeNewUserId(newId){
        $('fbNewUserName').innerHTML = "<fb:name uid='"+newId+"'></fb:name>";
        FB.XFBML.parse(document.getElementById('fbNewUserName'));
    }
</script>

<% form_for(@user) do |f| %>
  <%=h f.error_messages %>
  <p>
      <%=h f.label :facebook_id %>
      <%=h f.text_field :facebook_id %><br/>
      <span id="fbNewUserName"></span>
      <script type="text/javascript" charset="utf-8">
        changeNewUserId(<%=h @user.facebook_id %>);
      </script>
  </p>
  
  
  <% if current_user.is_god %>
  <p>
       <%=h f.label :is_god %><br />
       <%=h f.check_box :is_god %>
   </p>
  <% end %>
  
  <% if current_user.is_admin %>
  <p>
       <%=h f.label :can_admin %><br />
       <%=h f.check_box :can_admin %>
   </p>

   <p>
       <%=h f.label :can_edit_raw_html %><br />
       <%=h f.check_box :can_edit_raw_html %>
   </p>

   <p>
       <%=h f.label :is_puppet %><br />
       <%=h f.check_box :is_puppet %>
   </p>
  <% end %>
  
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', user_path %>