<h2>New user</h2>

<script type="text/javascript" charset="utf-8">
    function changeNewUserId(newId){
        $('fbNewUserName').innerHTML = "<fb:name uid='"+newId+"'></fb:name>";
        FB.XFBML.parse(document.getElementById('fbNewUserName'));
    }
</script>
<% form_for(@user) do |f| %>
  <%=h f.error_messages %>
  
  <p>
    <b>Facebook id: </b> (live update)<br/>
    <%=h f.text_field :facebook_id, :onkeyup=>'javascript:changeNewUserId(this.value)' %><br/>
    <span id="fbNewUserName"></span>
  </p>
  
  <p>
     <%=h f.label :can_admin %><br />
     <%=h f.check_box :can_admin %>
 </p>
     
 <p>
     <%=h f.label :can_edit_raw_html %><br />
     <%=h f.check_box :can_edit_raw_html %>
 </p>
 
 <p>
     <%=h f.label :is_puppet %><br />
     <%=h f.check_box :is_puppet %>
 </p>
  
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', users_path %>