

<style type="text/css" media="screen">
    .secondary_submit {
        color: white; background-color: #ff008b; font-size: 0.9em; font-weight: bold; padding:1px 2px;
    }
    .secondary_submit:hover {
/*            background-color: #ff0;*/
        text-decoration: none;
        color: black;
    }
</style>


<div class="span-22 last" style="">
    
    <div class="span-20">
        <h2 style="padding:0; margin:0;">Popular</h2>
    </div>
        
    <div class="span-2 last" style="padding-top:15px; text-align: right;">
        <%= link_to "+SUBMIT", submit_path, :class=>"secondary_submit" %>
    </div>
    
    <div style="border-bottom: 1px dotted #ccc; clear: both; height: 2px; margin-bottom: 10px">&nbsp;</div>
    <script type="text/javascript" charset="utf-8">
        function writeLikeButton(targetId, encodedLink)
        {
            $(targetId).innerHTML = '<iframe src="http://www.facebook.com/plugins/like.php?href='+encodedLink+'&amp;layout=button_count&amp;show_faces=false&amp;width=70&amp;action=like&amp;colorscheme=light&amp;height=20" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:20px;" allowTransparency="true"></iframe>';
        }
    </script>
    <% for @link in @links %>
        <span style="font-size: 1.2em;">
            <div class="span-2"><%= render :partial=>'/layouts/likeButtonSmall', :locals=>{:link=>@link} %></div>
            <div class="prepend-2">
                <h4 style="padding:0;margin:0;">
                    <%= link_to truncate(@link.title, :length=>100), @link, :class=>"quotelink" %>
                </h4>
            </div>
            <div class="prepend-2" style="font-size: 0.7em; color: #ccc;">
                Shared by <%= fb_name @link.user %> <%= distance_of_time_in_words @link.created_at, Time.now %> ago. 
                <%= link_to "Comments", @link %> 
                <% unless @link.url.blank? %>
                    | <%= link_to "Source", @link.url %>
                <% end %>
                <% if current_user && current_user.is_content_editor %>
                    | <%= link_to 'Edit', edit_link_path(@link) %>
                <% end %>
            </div>
        </span>

        <hr class="space" />
    <% end %>
    
    
    
</div>

