

<style type="text/css" media="screen">
    .secondary_submit {
        color: white; background-color: #ff008b; font-size: 0.9em; font-weight: bold; padding:1px 2px;
    }
    .secondary_submit:hover {
/*            background-color: #ff0;*/
        text-decoration: none;
        color: black;
    }
</style>



<div class="span-14" style="">
    
    <div class="span-12">
        <h2 style="padding:0; margin:0;">Popular</h2>
    </div>
        
    <div class="span-2 last" style="padding-top:15px; text-align: right;">
        <%= link_to "+SUBMIT", submit_path, :class=>"secondary_submit" %>
    </div>
    
    <div style="border-bottom: 1px dotted #ccc; clear: both; height: 2px; margin-bottom: 10px">&nbsp;</div>
    
    <% for @link in @links %>
        <span style="font-size: 1.2em;">
            <div>
                <h4 style="padding:0;margin:0;">
                    <% if @link.url.blank? %>
                        <%= link_to truncate(@link.title, 100), @link, :class=>"quotelink", :target=>"_blank" %>
                    <% else %>
                        <%= link_to truncate(@link.title, 100), @link.url, :class=>"quotelink", :target=>"_blank" %>
                    <% end %>
                </h4>
            </div>
            <div class="prepend-2" style="font-size: 0.7em; color: #ccc;">
                Shared by <%= fb_name @link.user %> <%= distance_of_time_in_words @link.created_at, Time.now %> ago. <%= link_to "Comments", @link %>
            </div>
        </span>

        <hr class="space" />
    <% end %>
    
    
</div>



<div class="prepend-1 span-6 last" style="padding: 20px; padding-bottom: 5px;">
    <h2 style="font-weight: 400; color:#00ccff; padding-bottom:0; margin-bottom: 10px; line-height: 1em;">Latest</h2>
    <ul>
        <% for i in 0..10 %>
            <li><%= link_to truncate(@links[i].title, 100), @links[i] %></li>
        <% end %>
    </ul>
</div>

