
<div style="x-border: 1px solid #d4d4d4; padding: 20px;">
	<div style="width: 300px; float: left; border-right: 1px dotted #ccc;">
		<h2>New Page</h2>
		<% form_for(@new_page, :url=>"/page/") do |f| %>
			<%= f.error_messages %>
			<p>
				<%= f.label :title %> - Optional<br />
				<%= f.text_field :title, :placeholder=>"Page Title" %>
			</p>
			<p>
				<b>Create from URL</b><br />
				<%= f.text_field :source_url, :placeholder=>"http://example.com/" %>
			</p>
			<p>
				<%= f.submit 'Submit!' %>
			</p>
		<% end %>
	</div>
	<div style="float: left; padding-left: 30px;">
		<h2>Or, Use Our Bookmarklet</h2>
		<div style="font-size: 1.3em">
			<%= render :partial => '/layouts/introBanner/condensedGettingStarted' %>
		</div>
	</div>
	<div style="clear: both">&nbsp;</div>
</div>
