<h1>Editing link</h1>

<% form_for(@link) do |f| %>
  <%= f.error_messages %>
  
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  
  <% if current_user.is_content_editor %>
    <h3>Editor Fields</h3>
    <p>
        <%= f.label :preview_html %><br />
        <%= f.text_area :preview_html %>
    </p>
    <p>
        <%= f.label :url %><br />
        <%= f.text_field :url %>
    </p>
    <p>
        <%= f.label :show_link %><br />
        <%= f.check_box :show_link %>
    </p>
  <% end %>
  
  <% if current_user.is_admin %>
    <h3>Admin Fields</h3>
    <p>
        <%= f.label :like_count %><br />
        <%= f.text_field :like_count %>
    </p>
  <% end %>
  
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @link %> |
<%= link_to 'Back', links_path %>

