<p>
  <b>Preview:</b>
  <%=h @link.preview %>
</p>

<p>
  <b>Title:</b>
  <%=h @link.title %>
</p>

<p>
  <b>Url:</b>
  <%=h @link.url %>
</p>

<p>
  <b>Like count:</b>
  <%=h @link.like_count %>
</p>


<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>