<div class="span-14">

<h2 style="padding-bottom:0;margin-bottom:0;"><%=h @link.title %></h2>
<div style="color: #aaa; font-size: 0.9em; margin-bottom:25px;">
    Shared by <%= fb_name @link.user %> <%= distance_of_time_in_words @link.created_at, Time.now %> ago. This has been liked <span style=""><%=h @link.like_count %></span> times.
</div>

<div style="margin-bottom: 10px;" id="link_preview_container">
    <%= @link.preview_html %>
</div>

<br/>

<% if @link.show_link %>
    <div style="padding: 15px; border: 1px solid #0cf; margin-bottom: 10px;">
        <h3 style="margin-bottom: 10px;"><%= image_tag 'link.png' %>View - <%= link_to @link.url, @link.url %></h3>
    </div>
<% end %>


<% if current_user && current_user.is_content_editor %>
    <%= link_to 'Edit', edit_link_path(@link) %> |
    <%= link_to 'Back', links_path %>
<% end %>

</div>


<%= render :partial=>"/layouts/sidePanel" %>