<h2>Queued Submissions - Oldest first</h2>
<p><b>About:</b> Automatically submit a page at a future time. Useful if you're AFK for a few hours or want to spread out a series of posts.</p>
<div style="width:100%; border-top: 1px dotted #ccc;">&nbsp;</div>

<table>
    
    <tr>
        <th>Title</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    
    <% @pages.each do |page| %>
        <tr style="background-color:<%= cycle("#fff", "#eaeaea") -%>">
            <td><%= link_to(truncate(h(page.title), :length=>60), page) %></td>
            <td><%= link_to "edit", edit_page_path(page) %></td>
            <td><%= link_to 'destroy', "/page/#{page.id}", :method=>:delete, :confirm => "Are you sure?" %></td>
        </tr>
    <% end %>
</table>
  
<% if @pages.length == 0 %>
    <p style="color:#666">No queued submissions. Use the link below to add a page.</span></p>
<% end %>

<div style="width:100%; border-top: 1px dotted #ccc;">&nbsp;</div>

<%= link_to "run tick method", future_submit_tick_path, :confirm => "Dequeue submission?" %>
