<h2>Add Page to Queue</h2>

<div style="width:100%; border-top: 1px dotted #ccc;">&nbsp;</div>

<b>Overview</b>
<p>Supply a URL, we'll fetch it like a normal page and send you to an edit form</p>

<div style="width:100%; border-top: 1px dotted #ccc;">&nbsp;</div>

<% form_for(@new_page, :url=>prefill_future_page_queue_path) do |f| %>
	<%= f.error_messages %>
	<p>
		<b>Create from URL</b><br />
		<%= f.text_field :source_url, :placeholder=>"http://example.com/" %>
	</p>
	<p>
		<b>When to launch? </b> (Default: 3 hours from now)<br />
		<%=h f.datetime_select :launch_threshold, :default=>(3.hours.from_now) %>
	</p>
	<p>
 		Submitting as <b><%= fb_name h(current_user.facebook_id), :linked=>false %></b> <%= f.submit 'Next...' %>
	</p>
<% end %>