<% like_target_id = "likeTarget#{(rand * 999999).floor}" %>

<% if current_user && current_user.is_content_editor %>
    <div style="position: absolute; margin-left: -160px; margin-top: 20px;">
        <a href="javascript:boostScore('<%= page_url(page, :only_path => false) %>')" alt="Boost Score">&#8593;</a>
    </div>
<% end %>

<div style="width:68px; height:73px; background-image: url('<%= image_path "like-counter-bg.png" %>'); background-repeat: no-repeat;">

	<div style="text-align: center; padding-top: 8px; color: #fff;">
	    <% if page.like_count == 0 %>
	        <div style="font-size:12px; margin: 0; margin-top: 8px; font-weight: bold;" class="thin_shadow likeCounterLabel<%= page.id %>">Publish:</div>
		<% elsif page.like_count < 1000 %>
			<div style="font-size:27px; font-weight: bold; line-height: 0.85em" class="thin_shadow likeCounterLabel<%= page.id %>"><%= page.like_count %></div>
		<% elsif page.like_count < 10000 %>
			<div style="font-size:25px; font-weight: bold; line-height: 0.85em" class="thin_shadow likeCounterLabel<%= page.id %>"><%= page.like_count %></div>
		<% else %>
			<div style="font-size:25px; font-weight: bold; line-height: 0.85em"class="thin_shadow likeCounterLabel<%= page.id %>"><%= page.like_count/1000 %>k</div>
		<% end %>
		<% if page.like_count > 1 %>
		    <span style="font-size:9px;" class="thin_shadow">LIKES</span>
	    <% elsif page.like_count == 1 %>
	        <span style="font-size:9px;" class="thin_shadow">LIKE</span>
	    <% end %>
	    <div style="clear:both; height:3px;">&nbsp;</div>
	</div>
	
<div id="outteroutter<%= like_target_id %>">
<div id="outter<%= like_target_id %>">
    <div id="content<%= like_target_id %>">
        <div id="above<%= like_target_id %>" style="padding-left:6px; display:none;">
            <h1 style="color:#0cf; font-size: 28px; margin-bottom:0; font-weight: 200; letter-spacing:1;" class="top_heading"></h1>
            <h2 style="font-size: 22px; color: white; font-weight: 500;margin-bottom: 20px;" class="bottom_heading"></h2>
        </div>
        <div id="<%= like_target_id %>" style="padding-left: 8px; padding-bottom: 4px; width: 51px; overflow: hidden;"></div>
        <div id="below<%= like_target_id %>" style="display:none; color:white;">
            <div style="float: left; font-size: 12px; font-weight:200; color: #666;" class="quiet_guide"></div>
            <a href="javascript:closeCustomizeDialog(<%= page.id %>);false" class="btn close_btn" style="font-size:1.1em; position:relative; float: right;margin-right:10px;"><span><span><b>&nbsp;</b><u class='close_text'>Skip</u></span></span></a>
            <div style="float:right; margin-right: -35px;" class="close_container"><a href="javascript:closeCustomizeDialog(<%= page.id %>);false" style="color:white;">X</a></div>
        </div>
    </div>
</div>
</div>

<script type="text/javascript" charset="utf-8">
    // Register like button container, then trigger write
    window.registerLikeContainer(<%= page.id %>, '<%= like_target_id %>');
    window.writeLikeButton(<%= page.id %>, '<%= page_url(page, :only_path => false) %>');
</script>

</div>