<div id="sidePanelContainer" class="span-8 last">

  <div style="height:1px; clear: both;">&nbsp;</div>



  <h2 style="font-weight: 400; color:#333; padding:0; margin: 0; margin-top: -5px; margin-bottom: 5px;"><%= image_tag 'back-to-normal-btn.png', :id=>"backToPopularBtn", :onclick=>"exitFavoritesMode()", :style=>"display:none; cursor:pointer; margin-bottom:-5px; margin-right: 10px;" %>Favorite Submissions</h2>

  <% for page in top_pages %>
    <% unless page.thumbnail_square.blank? or page.title.downcase.index("nsfw") %>
      <div class="span-8 <%= cycle("","","last")%>" style="margin-bottom: -55px;">
        <div style="float:right;">
          <div style="position:absolute; margin-left: -55px; margin-top: 5px; font-size: 1.5em; color: white;" class="thin_shadow">
            <%= image_tag("star-like-count-badge.png", :style=>"" ) %>
            <div style="position:absolute; margin-top: -43px; margin-left: 5px; width: 40px; text-align: center;" class="like_count_badge_text"><%= h page.like_count %></div>
          </div>
        </div>
        <%= link_to(image_tag(page.thumbnail_page, :width=>310), page, :onclick=>'enterFavoritesMode()') unless page.thumbnail_square.blank? %>
        <% link_to page, :style=>"position:relative; height: 75px; top: -75px; display: block;" do %>
          <div style="background-color: rgba(0,0,0,0.50); height:100%; font-size: 1.5em; color: white;" class="ie_transparent_bg thin_shadow">
            <div style="padding:10px 15px;">

              <%= h truncate(page.title, :length=>70) %>
            </div>
          </div>
        <% end %>
        <% if false %>
          <div class="span-8 last" style="margin-top: -75px; padding-top:3px; text-align: center; margin-bottom: 0;">
            Like this? <fb:like layout="button_count" show_faces="yes" href="<%= page_url(page, :only_path=>false) %>"></fb:like>
          </div>
          <hr class="space"/>
        <% end %>
      </div>
    <% end %>
  <% end %>

</div>

<script type="text/javascript">
  function enterFavoritesMode(){
    return;
    if (!$('contentContainer')) return;

    $('contentContainer').hide();
    $('sidePanelContainer').setAttribute("class", "span-24");
    $('backToPopularBtn').show();
  }

function exitFavoritesMode(){
  return;
  if (!$('contentContainer')) return;

  $('contentContainer').show();
  $('sidePanelContainer').setAttribute("class", "span-8 last");
  $('backToPopularBtn').hide();
}
</script>
