<!-- Unpublished -->
<div class="container">
    <div class="span-24">
        <div style="border: 1px solid #ccc; border-top: 0; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; padding: 15px;">
            <h2>You have unpublished stories!</h2>
            <h3>Give a story its first "like" to publish</h3>
            <table>
                <% for page in get_unpublished_pages %>
                    <% like_target_id = "likeTarget#{(rand * 999999).floor}" %>
                    <tr>
                        <td>
                            <%= link_to page.title, page %>
                        </td>
                        <td style="width: 100px;">
                            <span style="float:left; font-weight: bold;">Publish:</span>
                            <div id="<%= like_target_id %>" style="margin-left: 5px; width: 50px; overflow: hidden; float: left;"></div></td>
                        <td style="width: 30px;">
                            <%= link_to("<span><span><b>&nbsp;</b><u>Edit</u></span></span>", edit_page_path(page), :class=>"btn") %>
                        </td>
                        <td style="width: 35px;">
                            <%= link_to("<span><span><b>&nbsp;</b><u>Delete</u></span></span>", "/page/#{page.id}", :confirm => 'Are you sure?', :method =>:delete, :class=>"btn") %>
                        </td>
                    </tr>
                    <script type="text/javascript" charset="utf-8">
                        writeLikeButton('<%= like_target_id %>', '<%= page_url(page, :only_path => false) %>');
                        if ( typeof showCustomizeDialog_<%= page.id %> == "undefined" )
                        {
                            var showCustomizeDialog_<%= page.id %> = function()
                            {
                                var diagWidth = 675;
                                var diagHeight = 210;
                                var winWidth = document.viewport.getDimensions()["width"];
                                var winHeight = document.viewport.getDimensions()["height"];
                                $('outteroutter<%= like_target_id %>').setAttribute("style", "position: fixed; z-index:9999; width: 100%; height: 100%; background-color:rgba(0,0,0,0.65); overflow:display; top: 0; left: 0;");
                                $('outter<%= like_target_id %>').setAttribute("style", "background-color: rgba(0,0,0,0.9); border-radius: 15px; width:"+diagWidth.toString()+"px; height:"+diagHeight.toString()+"px; margin-left:" + Math.floor((winWidth-diagWidth)/2).toString() + "px; margin-top:" + Math.floor((winHeight-diagHeight-100)/2).toString() + "px;");
                                $('content<%= like_target_id %>').setAttribute("style", "padding: 20px;");
                                $("<%= like_target_id %>").style.overflow = "visible";
                                $('below<%= like_target_id %>').show();
                                $('above<%= like_target_id %>').show();
                            }
                            var closeCustomizeDialog_<%= page.id %> = function()
                            {
                                $('outteroutter<%= like_target_id %>').setAttribute("style", "");
                                $('outter<%= like_target_id %>').setAttribute("style", "");
                                $('content<%= like_target_id %>').setAttribute("style", "");
                                $("<%= like_target_id %>").style.overflow = "hidden";
                                $('below<%= like_target_id %>').hide();
                                $('above<%= like_target_id %>').hide();
                            }
                        }
                    </script>
                <% end %>
            </table>
        </div>
    </div>
</div>